jenkins_job_details:
  job1_1:
    job_name: "satellite6_db_upgrade_migrate"
    check_on_build_environment:
      upgrade_satellite_rpm: "rpm -q satellite"
      upgrade_status_check: "foreman-maintain upgrade check
      --target-version `foreman-maintain upgrade list-versions`|grep -w 'FAIL'|
      awk '{print $NF}'|wc -l"
      upgrade_version: "foreman-maintain upgrade list-versions"
      services_status: "if [ `hammer ping|grep Status|
        awk '/Status:/{gsub(/Status:/,//);print}'|uniq|wc -l` == 1 ];
        then echo 'Hammer Ping Status is OK' ;else echo 'Hammer Ping Status Failed';fi"
    test_execution_record: ""
    keyword_availability:
      - "create_openstack_instance"
      - "INFO:upgrade_logging:SUCCESS"
      - "ansible-playbook -i inventory satellite-clone-playbook.yml"
      - "Upgrade Step: migrate_pulp..."
      - "Upgrade Step: migrate_candlepin..."
      - "Upgrade Step: migrate_foreman..."
      - "Upgrade Step: Running installer..."
    pattern_to_pattern_filter:
      pattern1: "ansible-playbook -i inventory satellite-clone-playbook.yml"
      pattern2: "PLAY RECAP *"
    highlighted_content: "awk -F'HIGHLIGHT:upgrade_logging:' '/HIGHLIGHT:upgrade_logging/{print $NF}'"

  job1_2:
    job_name: "upgrade-to-<component-version>-rhel7"
    check_on_build_environment: ""
    test_execution_record: ""
    keyword_availability:
      - "Syncing latest capsule repos in Satellite ..."
      - "is ready for Upgrade"
      - "clients on RHEL6 and RHEL7 on Docker. Please wait ....."
      - "Clients are ready for Upgrade."
    pattern_to_pattern_filter: ""
    highlighted_content: "awk -F'HIGHLIGHT:upgrade_logging:' '/HIGHLIGHT:upgrade_logging/{print $NF}'"

  job1_3:
    job_name: "automation-preupgrade-<component-version>-scenario-tests-rhel7"
    check_on_build_environment: ""
    test_execution_record:
      test_failure: "awk '/: tests./{{print}}'|awk '/FAILED/ {{print $NF}}'|awk '{print $NF}'"
      total_test_executed: "awk '/- Started tearDownClass/ {count++} END {print count}'"
    pattern_to_pattern_filter: ""
    keyword_availability:
      - "Started tearDownClass"
    highlighted_content: "awk -F'HIGHLIGHT:upgrade_logging:' '/HIGHLIGHT:upgrade_logging/{print $NF}'"

  job1_4:
    job_name: "upgrade-phase-<component-version>-rhel7"
    check_on_build_environment:
      upgrade_satellite_rpm: "rpm -q satellite"
      services_status: "if [ `hammer ping|grep Status|
                            awk '/Status:/{gsub(/Status:/,//);print}'|uniq|wc -l` == 1 ];
                            then echo 'Hammer Ping Status is OK' ;else echo 'Hammer
                            Ping Status Failed';fi"
    pattern_to_pattern_filter: ""
    test_execution_record: ""
    keyword_availability:
      - "Satellite is upgraded from"
      - "The Capsule is upgraded from"
    highlighted_content: "awk -F'HIGHLIGHT:upgrade_logging:' '/HIGHLIGHT:upgrade_logging/{print $NF}'"

  job1_5:
    job_name: "automation-postupgrade-<component-version>-scenario-tests-rhel7"
    check_on_build_environment: ""
    test_execution_record:
      test_failure: "awk '/: tests./{{print}}'|awk '/FAILED/ {{print $NF}}'|awk '{print $NF}'"
      total_test_executed: "awk '/- Started tearDownClass/ {count++} END {print count}'"
    pattern_to_pattern_filter: ""
    keyword_availability:
      - "Started tearDownClass"
    highlighted_content: "awk -F'HIGHLIGHT:upgrade_logging:' '/HIGHLIGHT:upgrade_logging/{print $NF}'"