machine_detail:
  satellite6_db_upgrade_migrate: "awk '/The registered system name/ {print $NF}'"
  upgrade-to-<component-version>-rhel7: "awk '/The registered system name/ {print $NF}'"
  upgrade-phase-<component-version>-rhel7: "awk -F':' '/Unregistering from:/ {print $(NF-1)}'"