<!DOCTYPE html>
<html>
<link rel="stylesheet" type="text/css" href="css/main.css">
<link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
  <link href='https://fonts.googleapis.com/css?family=Caesar Dressing' rel='stylesheet'>
  <body>
   <h1>Build History</h1>
   <table id="customers">
      <thead>
        <tr style="text-align:center">
            <th> Index </th>
            <th> Job List</th></tr>
            </thead>
        <tbody>
        {%for job in job_collection%}
        <tr><td>{{loop.index}}</td><td><a href=/evaluated_data_history/Job-Name/{{job}}>Historical data of {{actual_jobs[loop.index-1]}}</a></td></tr>
        {%endfor%}
        </tbody>
             <tfoot>
        <tr>
           <th colspan="15" style="text-align:center;">
            XYZ.com
          </th>
        </tr>
      </tfoot>
    </table>
  <button type="button" onclick="window.location.href='/';">Home</button>
  </body>
</html>
