<html>
<head>
   <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
    <link href='https://fonts.googleapis.com/css?family=Caesar Dressing' rel='stylesheet'>
</head>
<body>
<h1>Job Search</h1>
<form method="post">
<table id="customers">
      <thead><tr>
      <th style="text-align:center;" data-toggle="tooltip" data-placement="right" title="Please enter the job name, what you wants to search">Job Name</th>
          <th style="text-align:center;" data-toggle="tooltip" data-placement="right" title="Please enter the build number of seeking job"> Build Number</th>
          <th style="text-align:center;" data-toggle="tooltip" data-placement="right" title="Please enter the build version of seeking job and it would be like 6.5, 6.6, 6.7"> Component Version </th></tr></thead>
       <tr> <td>{{form.job_name}}</td><td>{{form.build_number}}</td>
           <td>{{form.component_version}}</td></tr>
    <tfoot>
        <tr>
          <th colspan="15" style="text-align:center;">
            XYZ.com
          </th>
        </tr>
      </tfoot>
    </table>
    <input type="submit" name="submit" value="Delete">
    <button type="button" onclick="window.location.href='/';">Home</button>
    <button type="button" onclick="window.location.href='/job_list';">Please click if you want to see the job details</button>
</form>
    {% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{%endwith%}
</body>
</html>
