<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta name = "viewport" content = "width = device-width, initial-scale = 1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
</head>
<script type=text/javascript src="{{
  url_for('static', filename='js/search_by_second_field.js') }}"></script>
<body>
<div style="margin:20px 0">
    <div class="pagination" style="float:right">
        {{ pagination.links }}
    </div>
    <div class="search_bar" style="float:left">
        <button type="button" onclick="window.location.href='/';">Home</button>
        <button onclick="history.back(-1)">Back</button>
        <input type="text" id="myInput" onkeyup="searchByCommonField(9)"
           placeholder="Type the string you looking for..." title="Type the string you looking for..">
    </div>
</div>
<table id="customers">
      <thead>
            <tr>
                <th style="text-align:center" rowspan="2" data-toggle="tooltip" data-placement="right" title="Job Index count">Index</th>
                <th style="text-align:center" rowspan="2" data-toggle="tooltip" data-placement="right" title="Name of jenkins job, you can search it on jenkins server">Job Name</th>
                <th style="text-align:center" rowspan="2" data-toggle="tooltip" data-placement="right" title="Build Number of respective jenkins job name">Build Number</th>
                <th style="text-align:center" rowspan="2" data-toggle="tooltip" data-placement="right" title="jenkins build URL of respective job">Build Url</th>
                <th style="text-align:center" rowspan="2" data-toggle="tooltip" data-placement="right" title="Status of Build job, we can update it as per our observation">Build Status</th>
                <th style="text-align:center" rowspan="2" data-toggle="tooltip" data-placement="right" title="Build release version of non GA component">Component Version</th>
                <th style="text-align:center" rowspan="2" data-toggle="tooltip" data-placement="right" title="Snap number of ongoing non GA build version">Snap/Build Number</th>
                <th style="text-align:center" colspan="3" data-toggle="tooltip" data-placement="right" title="Validation is divided into three parts, 1: Checks On Target Machine, 2: Keywords Check  3: Command Execution Status ">Validation</th>
                <th style="text-align:center" rowspan="2" data-toggle="tooltip" data-placement="right" title="Build Time of triggered jenkins job">Build Time</th>
                <th style="text-align:center" rowspan="2" data-toggle="tooltip" data-placement="right" title="It contains logs of system during job execution, depends on users, what kind of logs they wants to collect over there(Example in satellite: we collect Satellite log, Satellite-installer log, Capsule installer log, Capsule lo,production log, proxy log, Candlepin log, messages Catlina log) ">System Log</th>
                <th style="text-align:center" rowspan="2" data-toggle="tooltip" data-placement="right" title="By using this option we can add our observation">Add Your Observation</th>
        </tr>
            <tr><th style="text-align:center" data-toggle="tooltip" data-placement="right" title="Checks on target machine: Execute set of commands on the build setup to verify the build stability">Checks On Target Machine</th>
            <th style="text-align:center" data-toggle="tooltip" data-placement="right" title="Here, we check few strings in jenkins log whether it available or not, If it does not available then we ask from the developer, Did any change happens around that or not, If not then we file new issue for that"> Keywords Check</th>
                {% if pattern_type == "automation-preupgrade" %}
                    <th style="text-align:center" data-toggle="tooltip" data-placement="right" title="It contains all the failed test cases for this build">Test Failure</th>
                {% else %}
                    <th style="text-align:center" data-toggle="tooltip" data-placement="right" title="Here, we check all the commands execution status, We are publishing only warning, alert or failure in this column">Command Execution Status</th>
                {% endif %}
        </tr>
      </thead>
      <tbody>
      {% for comment in List %}
      {% if comment["Build-Status"] == "SUCCESS" %}
      <tr class="text-success">
            {% elif comment["Build-Status"] == "UNSTABLE"%}
      <tr class="text-warning">
          {%else %}
      <tr class="text-danger">
          {%endif%}
          <td>{{ loop.index + (page - 1) * per_page }}</td><td> {{comment["Job-Name"]}} </td>
            <td> {{comment["Build-Number"]}}</td>
            <td> <a href="{{comment['Job Url']}}">"Build Link"</a></td>
        <td> {{comment["Build-Status"]}} </td>
            <td align="center">{{comment["Build-Version"]}}</td>
          <td align="center">{{comment["Snap-Version"]}}</td>
            {% if comment["Validation"]["on_machine_output"] != "Build Machine Check was unchecked" %}
            <td> {%for i in comment["Validation"]["on_machine_output"] %}
                <b>{{i}}:</b><br>
                <font size="2"> {{comment["Validation"]["on_machine_output"][i]}}</font>
                <br>{%endfor%}
            </td>
            {%else%}
            <td>
                <font size="2"> {{comment["Validation"]["on_machine_output"]}}</font>
            </td>
            {%endif%}
            <td align="center">{{comment["Validation"]["keyword_availability"]}}</td>
                {% if pattern_type == "automation-preupgrade" or pattern_type == "automation-postupgrade" %}
            <td><p><b>Total Executed Test Case:</b> {{comment["Validation"]["Total Test Executed"][0]}}</p>
                <p><b>Failed {{pattern_type}} Test Cases:</b></p>
                    {% for test_case in comment["Validation"]["Pre_Upgrade_test_Failure"] %}
                {{test_case}}<br>
                     {% endfor %}
            </td>
                {%else%}
                    <td>{% for command in comment["Validation"]
                        ["All_Commands_Execution_status"]%}
                        {% if "Pattern_Pattern_match" == command %}
                            {% for i in comment["Validation"]["All_Commands_Execution_status"][command]%}
                            <p></p>
                            <b>{{i}}:</b><br>
                            {%for j in comment["Validation"]["All_Commands_Execution_status"][command][i] %}
                        <font size="2" color="black">{{j}}</font><br>
                            {%endfor%}
                            {%endfor%}
                        {%else%}
                            {%if "highlighted_content" == command %}
                                <p></p>
                                <b>{{command}}:</b><br>
                                {%for information in comment["Validation"]["All_Commands_Execution_status"][command] %}
                                <font size="2" color="black"> {{information}} </font><br>
                                {%endfor%}
                            {%else%}
                            <p></p>
                                {% if comment["Validation"]["All_Commands_Execution_status"][command]|length %}
                                    <b>{{command}}:</b><br>
                        {% if comment["Validation"]["All_Commands_Execution_status"][command] is sequence and value is not mapping and value is not string %}
                        {% for i in comment["Validation"]["All_Commands_Execution_status"][command] %}
                        <font size="2" color="black">{{i}}</font><br>
                        {%endfor%}
                        {%else%}
                        <font size="2" color="black">{{comment["Validation"]["All_Commands_Execution_status"][command]}}</font><br>
                        {%endif%}
                                {%endif%}
                            {%endif%}
                        {%endif%}
                    {%endfor%} </td>

            {%endif%}
            <td>{{comment["Job-Time-Stamp"]}}</td>
            {% if comment["SystemLog"] %}
            <td><a href=/system_log/{{comment["_id"]}}>Production Log</a></td>
            {%else%}
            <td>No Production log available</td>
            {%endif%}
            <td><a href=/edit_observation/{{pattern_type}}/{{loop.index}}/{{comment["_id"]}}>data_update</a> </td>
        </tr>
      {%endfor%}
      </tbody>
      <tfoot>
        <tr>
          <th colspan="15" style="text-align:center;">
            XYZ.com
          </th>
        </tr>
      </tfoot>
    </table>
</body>
</html>
