<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
    <link href='https://fonts.googleapis.com/css?family=Caesar Dressing' rel='stylesheet'>
</head>
<script type="text/javascript" src="{{ url_for('static', filename='js/back.js') }}"></script>
<body>
<h1>Available Job Name</h1>
    <table id="customers">
      <thead>
      <tr>
            <th rowspan="2" style="text-align:center;">Job Name</th>
            <th rowspan="2" style="text-align:center;">Build Number</th>
            <th rowspan="2" style="text-align:center;">Component Version</th>
        </tr>
      </thead>
      <tbody>
      {% for comment in job_records %}
        <tr><td> {{comment}} </td>
            <td>{{job_records[comment]["Build-Number"]}}</td>
            <td>{{job_records[comment]["Build-Version"]}}</td>
        </tr>
      {%endfor%}
      </tbody>
      <tfoot>
        <tr>
          <th colspan="15" style="text-align:center;">
            XYZ.com
          </th>
        </tr>
      </tfoot>
    </table>
    <button onclick="goBack()">Back</button>
</body>
</html>
