<!DOCTYPE html>
<html>
 <link rel="stylesheet" type="text/css" href="css/main.css">
 <style>
.t1{
  width:80%;
  min-width: 100px;
  min-height:100px;
  text-align: center;
  border:1px solid black;
  }
</style>
  <body>
   <h2 style="margin:0;">
      Log Analyzer Dashboard
    </h2>
            <table class="t1" summary="Log Analyzer Dashboard">
      <thead>
        <tr>
            <th> Index</th><th> Menu</th></tr>
            </thead>
        <tbody>
        <tr><td>1</td><td><a href=/input>Trigger Log Analysis</a></td></tr>
        <tr><td>2</td><td><a href=/historical_data_dashboard>Build History</a></td></tr>
          <tr> <td>3</td><td><a href=/build_filter>Build Search</a></td></tr>
        <tr> <td>4</td><td><a href=/list_of_error/1>Error Collection & Their Observation</a></td></tr>
        <tr><td>5</td><td><a href="/report_preparation"> Build Analysis Report</a>
        </td></tr>
        </tbody>
             <tfoot>
        <tr>
          <th colspan="10">
            redhat.com
          </th>
        </tr>
      </tfoot>
    </table>
  <div>Disclaimer- Only Chrome browser is supported</div>
  </body>
</html>