<html>
<head>
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
    <link href='https://fonts.googleapis.com/css?family=Caesar Dressing' rel='stylesheet'>
</head>

<script type=text/javascript src="{{
  url_for('static', filename='js/search_by_second_field.js') }}"></script>

<h1>Error collection & their observation</h1>
 <div class="pagination" style="float:right">
     {{ pagination.links }}
</div>
<div class="search_bar" style="float:left">
    <input type="text" id="myInput" onkeyup="searchByCommonField(1)"
           placeholder="Type the error name.." title="Type the error name">
</div>
<body>
    <table id="customers">
      <thead>
            <tr>
            <th rowspan="2" style="text-align:center;">Index</th>
            <th rowspan="2" style="text-align:center;">Error Name</th>
            <th rowspan="2" style="text-align:center;">Observation</th>
        </tr>
      </thead>
      <tbody>
      {% for items in List %}
        <tr> <td>{{ loop.index + (page - 1) * per_page }}</td>
            {%for item in items %}
                {%if item != "_id" %}
                    <td> {{item}} </td>
                    <td>{{items[item]}}</td>
                {%endif%}
            {%endfor%}
        </tr>
      {%endfor%}
      </tbody>
      <tfoot>
        <tr>
          <th colspan="15" style="text-align:center;">
            XYZ.com
          </th>
        </tr>
      </tfoot>
    </table>
    <div>
    <button onclick="goBack()">Back</button>
    <button type="button" onclick="window.location.href='/';">Home</button>
    </div>
</body>
</html>
