<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta http-equiv="Content-Type" content="text/html charset=UTF-8" />
</head>
<script type="text/javascript" src="{{ url_for('static', filename='js/back.js') }}"></script>
<body>
<form method="post">
    <table class="t1" summary="Enter your observation">
      <thead>
            <tr>
            <th rowspan="2">Job Name</th>
            <th rowspan="2">Build Status</th>
                <th colspan="1">Validation</th>
             <th rowspan="2">Enter your observation</th>
            </tr>
            <tr>
                {% if pattern_type == "automation-preupgrade" %}
                    <th>Test Failure</th>
                {% else %}
                    <th>Commands Execution Status in Jenkins Log File</th>
                {% endif %}
            </tr>
      </thead>
      <tbody>
        <tr><td> {{record["Job-Name"]}} </td>
            <td>{{record["Build-Status"]}} </td>
                {% if pattern_type == "automation-preupgrade" or pattern_type == "automation-postupgrade" %}
            <td><p><b>Total Executed Test Case:</b> {{record["Validation"]["Total Test Executed"][0]}}</p>
                <p><b>Failed {{pattern_type}} Test Cases:</b></p>
                    {% for test_case in record["Validation"]["Pre_Upgrade_test_Failure"] %}
                {{test_case}}<br>
                     {% endfor %}
            </td>
                {%else%}
            <td>{% for command in record["Validation"]["All_Commands_Execution_status"]%}
                        {% if "Pattern_Pattern_match" == command %}
                            {% for i in record["Validation"]["All_Commands_Execution_status"][command]%}
                            <p></p>
                            <b>{{i}}:</b><br>
                            {%for j in record["Validation"]["All_Commands_Execution_status"][command][i] %}
                        <font size="2" color="blue">{{j}}</font><br>
                            {%endfor%}
                            {%endfor%}
                        {%else%}
                            {%if "highlited_information" == command %}
                                <p></p>
                                <b>{{command}}:</b><br>
                                {%for information in record["Validation"]["All_Commands_Execution_status"][command] %}
                                <font size="2" color="blue"> {{information}} </font><br>
                                {%endfor%}
                            {%else%}
                            <p></p>
                            <b>{{command}}:</b><br><font size="2" color="blue">{{record["Validation"]
                            ["All_Commands_Execution_status"][command]}}</font><br>
                            {%endif%}
                        {%endif%}
                    {%endfor%} </td>
            {%endif%}
            <td>{{form.observation_data}} </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <th colspan="15">
            redhat.com
          </th>
        </tr>
      </tfoot>
    </table>
    <input type="submit" name="submit" value="Submit">
    <button onclick="goBack()">Back</button>
    </form>
</body>
</html>