<!DOCTYPE html>
<html>
 <link rel="stylesheet" type="text/css" href="css/main.css">
 <style>
.t1{
  width:80%;
  min-width: 100px;
  min-height:100px;
  text-align: center;
  border:1px solid black;
  }
</style>
  <body>
   <h2 style="margin:0;">
      Search Menu Dashboard
    </h2>
            <table class="t1" summary="Search Menu Dashboard">
      <thead>
        <tr>
            <th> Index</th><th> Search Menu</th></tr>
            </thead>
        <tbody>
        <tr><td>1</td><td><a href=/search_by_component>Job Search By Field</a></td></tr>
        <tr><td>2</td><td><a href=/Build_Search>Job Search By Name, Component Version, Snap Number</a></td></tr>
        </td></tr>
        </tbody>
             <tfoot>
        <tr>
          <th colspan="10">
            redhat.com
          </th>
        </tr>
      </tfoot>
    </table>
    <button onclick="goBack()">Back</button>
    <button type="button" onclick="window.location.href='/';">Home</button>
  </body>
</html>