<html>
<head>
   <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
    <link href='https://fonts.googleapis.com/css?family=Caesar Dressing' rel='stylesheet'>
</head>
<body>
    <table id="customers">
      <thead>
            <tr>
            <th style="text-align:center">Satellite</th>
            <th style="text-align:center">satellite-installer</th>
            <th style="text-align:center">capsule-installer</th>
            <th style="text-align:center">Capsule Log</th>
                <th style="text-align:center">Production Log</th>
                <th style="text-align:center">Proxy Log </th>
                <th style="text-align:center">Candlepin Log </th>
                <th style="text-align:center">Messages</th>
                <th style="text-align:center">Catlina Log</th>
      </thead>
      <tbody>
        <tr> <td> {% if "satellite-log" in record%}
            {%for j in system_log_separation("satellite-log",
            record["satellite-log"])%}
            <p align="left"><font size="2" color="black">{{j.strip()}}</font></p>
            {%endfor%}
            {%else%}
            <p>Log Not Available</p>
            {%endif%} </td>
            <td>{% if "satellite-installer-log" in record %}
                {{record["satellite-installer-log"]}}{%endif%}</td>
        <td> {%if "capsule-installer-log" in record%}
            {{record["capsule-installer-log"]}} {%endif%}
            <td>{% if "capsule-log" in record %}
                {{record["capsule-log"]}} {%endif%}</td>
            <td>{%if "production-log" in record %} {{record["production-log"]}}
                {%endif%}</td>
            <td>{%if "proxy-log" in record%} {{record["proxy-log"]}} {%endif%}</td>
            <td>{%if "candlepin-log" in record%}
                {%for j in system_log_separation("candelpin-log", record["candlepin-log"])%}
                <p align="left"><font size="2" color="black">{{j.strip()}}</font></p>
                {%endfor%}
                {%else%}
                <p> Log Not Available</p>
                {%endif%}</td><td>{%if "messages" in record%}
                {%for j in system_log_separation("messages", record["messages"])%}
                <p align="left"><font size="2" color="black">{{j.strip()}}</font></p>
                {%endfor%}
                {%else%}
                <p> Log Not Available</p>
                {%endif%}</td>
            <td>{%if "catalina-out" in record%} {{record["catalina-out"]}}
                {%endif%}</td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <th colspan="15" style="text-align:center;">
            XYZ.com
          </th>
        </tr>
      </tfoot>
    </table>
     <button onclick="history.back(-1)">Back</button>
</body>
</html>
