<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta http-equiv="Content-Type" content="text/html charset=UTF-8" />
</head>
<script type=text/javascript src="{{url_for('static', filename='js/common_function.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/back.js') }}"></script>
<body>
    <table class="t1" summary="System Log of Respected Job">
      <thead>
            <tr>
            <th>Satellite</th>
            <th>satellite-installer</th>
            <th>capsule-installer</th>
            <th>Capsule Log</th>
                <th>Production Log</th>
                <th>Proxy Log </th>
                <th>Candlepin Log </th>
                <th>Messages</th>
                <th>Catlina Log</th>
      </thead>
      <tbody>
        <tr> <td> {% if "satellite-log" in record%}
            {%for j in system_log_separation("satellite-log",
            record["satellite-log"])%}
            <p align="left"><font size="2" color="black">{{j.strip()}}</font></p>
            {%endfor%}
            {%else%}
            <p>Log Not Available</p>
            {%endif%} </td>
            <td>{% if "satellite-installer-log" in record %}
                {{record["satellite-installer-log"]}}{%endif%}</td>
        <td> {%if "capsule-installer-log" in record%}
            {{record["capsule-installer-log"]}} {%endif%}
            <td>{% if "capsule-log" in record %}
                {{record["capsule-log"]}} {%endif%}</td>
            <td>{%if "production-log" in record %} {{record["production-log"]}}
                {%endif%}</td>
            <td>{%if "proxy-log" in record%} {{record["proxy-log"]}} {%endif%}</td>
            <td>{%if "candlepin-log" in record%}
                {%for j in system_log_separation("candelpin-log", record["candlepin-log"])%}
                <p align="left"><font size="2" color="black">{{j.strip()}}</font></p>
                {%endfor%}
                {%else%}
                <p> Log Not Available</p>
                {%endif%}</td><td>{%if "messages" in record%}
                {%for j in system_log_separation("messages", record["messages"])%}
                <p align="left"><font size="2" color="black">{{j.strip()}}</font></p>
                {%endfor%}
                {%else%}
                <p> Log Not Available</p>
                {%endif%}</td>
            <td>{%if "catalina-out" in record%} {{record["catalina-out"]}}
                {%endif%}</td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <th colspan="15">
            redhat.com
          </th>
        </tr>
      </tfoot>
    </table>
<button onclick="goBack()">Back</button>
</body>
</html>